<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<error-page>
		<location>/error</location>
	</error-page>

	<!--  Servlet context listener for loading objects that Shiro requires to function -->
	<listener>
		<listener-class>
			org.apache.shiro.web.env.EnvironmentLoaderListener
		</listener-class>
	</listener>

	<!-- Filter request to perform different security operations -->
	<filter>
		<filter-name>ShiroWebFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ShiroWebFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<secure>true</secure>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- <login-config> <auth-method>FORM</auth-method> <form-login-config> 
		<form-login-page>/secure/account/login</form-login-page> <form-error-page>/secure/account/login-error</form-error-page> 
		</form-login-config> </login-config> -->
</web-app>